<!-- <highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 400px; display: block;"
></highcharts-chart> -->

<div class="dashboard">
  <app-widget-stock-graph></app-widget-stock-graph>
  <app-widget-summary-statistics></app-widget-summary-statistics>
  <app-widget-fundamentals></app-widget-fundamentals>
</div>
<!-- <div style="display: block;">
  <canvas
    baseChart
    width="400"
    height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins"
  >
  </canvas>
</div> -->
