nav {
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  > * {
    margin-right: 20px;
  }
  align-items: center;
}

mat-label {
  font-weight: 200;
}

h1 {
  font-size: 1.8rem;
  letter-spacing: -1px;
}

mat-form-field {
  width: 140px;
}
